Systematic: "btag_B_0"
Title: "btag_B_0"
Type: HISTO
HistoNameUp:   "btag_B_0_up"
HistoNameDown: "btag_B_0_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_10"
Title: "btag_B_10"
Type: HISTO
HistoNameUp:   "btag_B_10_up"
HistoNameDown: "btag_B_10_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_11"
Title: "btag_B_11"
Type: HISTO
HistoNameUp:   "btag_B_11_up"
HistoNameDown: "btag_B_11_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_12"
Title: "btag_B_12"
Type: HISTO
HistoNameUp:   "btag_B_12_up"
HistoNameDown: "btag_B_12_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_13"
Title: "btag_B_13"
Type: HISTO
HistoNameUp:   "btag_B_13_up"
HistoNameDown: "btag_B_13_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_14"
Title: "btag_B_14"
Type: HISTO
HistoNameUp:   "btag_B_14_up"
HistoNameDown: "btag_B_14_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_15"
Title: "btag_B_15"
Type: HISTO
HistoNameUp:   "btag_B_15_up"
HistoNameDown: "btag_B_15_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_16"
Title: "btag_B_16"
Type: HISTO
HistoNameUp:   "btag_B_16_up"
HistoNameDown: "btag_B_16_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_17"
Title: "btag_B_17"
Type: HISTO
HistoNameUp:   "btag_B_17_up"
HistoNameDown: "btag_B_17_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_18"
Title: "btag_B_18"
Type: HISTO
HistoNameUp:   "btag_B_18_up"
HistoNameDown: "btag_B_18_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_19"
Title: "btag_B_19"
Type: HISTO
HistoNameUp:   "btag_B_19_up"
HistoNameDown: "btag_B_19_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_1"
Title: "btag_B_1"
Type: HISTO
HistoNameUp:   "btag_B_1_up"
HistoNameDown: "btag_B_1_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_20"
Title: "btag_B_20"
Type: HISTO
HistoNameUp:   "btag_B_20_up"
HistoNameDown: "btag_B_20_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_21"
Title: "btag_B_21"
Type: HISTO
HistoNameUp:   "btag_B_21_up"
HistoNameDown: "btag_B_21_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_22"
Title: "btag_B_22"
Type: HISTO
HistoNameUp:   "btag_B_22_up"
HistoNameDown: "btag_B_22_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_23"
Title: "btag_B_23"
Type: HISTO
HistoNameUp:   "btag_B_23_up"
HistoNameDown: "btag_B_23_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_24"
Title: "btag_B_24"
Type: HISTO
HistoNameUp:   "btag_B_24_up"
HistoNameDown: "btag_B_24_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_25"
Title: "btag_B_25"
Type: HISTO
HistoNameUp:   "btag_B_25_up"
HistoNameDown: "btag_B_25_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_26"
Title: "btag_B_26"
Type: HISTO
HistoNameUp:   "btag_B_26_up"
HistoNameDown: "btag_B_26_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_27"
Title: "btag_B_27"
Type: HISTO
HistoNameUp:   "btag_B_27_up"
HistoNameDown: "btag_B_27_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_28"
Title: "btag_B_28"
Type: HISTO
HistoNameUp:   "btag_B_28_up"
HistoNameDown: "btag_B_28_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_29"
Title: "btag_B_29"
Type: HISTO
HistoNameUp:   "btag_B_29_up"
HistoNameDown: "btag_B_29_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_2"
Title: "btag_B_2"
Type: HISTO
HistoNameUp:   "btag_B_2_up"
HistoNameDown: "btag_B_2_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_30"
Title: "btag_B_30"
Type: HISTO
HistoNameUp:   "btag_B_30_up"
HistoNameDown: "btag_B_30_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_31"
Title: "btag_B_31"
Type: HISTO
HistoNameUp:   "btag_B_31_up"
HistoNameDown: "btag_B_31_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_32"
Title: "btag_B_32"
Type: HISTO
HistoNameUp:   "btag_B_32_up"
HistoNameDown: "btag_B_32_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_33"
Title: "btag_B_33"
Type: HISTO
HistoNameUp:   "btag_B_33_up"
HistoNameDown: "btag_B_33_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_34"
Title: "btag_B_34"
Type: HISTO
HistoNameUp:   "btag_B_34_up"
HistoNameDown: "btag_B_34_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_35"
Title: "btag_B_35"
Type: HISTO
HistoNameUp:   "btag_B_35_up"
HistoNameDown: "btag_B_35_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_36"
Title: "btag_B_36"
Type: HISTO
HistoNameUp:   "btag_B_36_up"
HistoNameDown: "btag_B_36_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_37"
Title: "btag_B_37"
Type: HISTO
HistoNameUp:   "btag_B_37_up"
HistoNameDown: "btag_B_37_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_38"
Title: "btag_B_38"
Type: HISTO
HistoNameUp:   "btag_B_38_up"
HistoNameDown: "btag_B_38_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_39"
Title: "btag_B_39"
Type: HISTO
HistoNameUp:   "btag_B_39_up"
HistoNameDown: "btag_B_39_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_3"
Title: "btag_B_3"
Type: HISTO
HistoNameUp:   "btag_B_3_up"
HistoNameDown: "btag_B_3_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_40"
Title: "btag_B_40"
Type: HISTO
HistoNameUp:   "btag_B_40_up"
HistoNameDown: "btag_B_40_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_41"
Title: "btag_B_41"
Type: HISTO
HistoNameUp:   "btag_B_41_up"
HistoNameDown: "btag_B_41_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_42"
Title: "btag_B_42"
Type: HISTO
HistoNameUp:   "btag_B_42_up"
HistoNameDown: "btag_B_42_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_43"
Title: "btag_B_43"
Type: HISTO
HistoNameUp:   "btag_B_43_up"
HistoNameDown: "btag_B_43_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_44"
Title: "btag_B_44"
Type: HISTO
HistoNameUp:   "btag_B_44_up"
HistoNameDown: "btag_B_44_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_4"
Title: "btag_B_4"
Type: HISTO
HistoNameUp:   "btag_B_4_up"
HistoNameDown: "btag_B_4_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_5"
Title: "btag_B_5"
Type: HISTO
HistoNameUp:   "btag_B_5_up"
HistoNameDown: "btag_B_5_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_6"
Title: "btag_B_6"
Type: HISTO
HistoNameUp:   "btag_B_6_up"
HistoNameDown: "btag_B_6_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_7"
Title: "btag_B_7"
Type: HISTO
HistoNameUp:   "btag_B_7_up"
HistoNameDown: "btag_B_7_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_8"
Title: "btag_B_8"
Type: HISTO
HistoNameUp:   "btag_B_8_up"
HistoNameDown: "btag_B_8_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_B_9"
Title: "btag_B_9"
Type: HISTO
HistoNameUp:   "btag_B_9_up"
HistoNameDown: "btag_B_9_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_0"
Title: "btag_C_0"
Type: HISTO
HistoNameUp:   "btag_C_0_up"
HistoNameDown: "btag_C_0_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_10"
Title: "btag_C_10"
Type: HISTO
HistoNameUp:   "btag_C_10_up"
HistoNameDown: "btag_C_10_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_11"
Title: "btag_C_11"
Type: HISTO
HistoNameUp:   "btag_C_11_up"
HistoNameDown: "btag_C_11_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_12"
Title: "btag_C_12"
Type: HISTO
HistoNameUp:   "btag_C_12_up"
HistoNameDown: "btag_C_12_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_13"
Title: "btag_C_13"
Type: HISTO
HistoNameUp:   "btag_C_13_up"
HistoNameDown: "btag_C_13_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_14"
Title: "btag_C_14"
Type: HISTO
HistoNameUp:   "btag_C_14_up"
HistoNameDown: "btag_C_14_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_15"
Title: "btag_C_15"
Type: HISTO
HistoNameUp:   "btag_C_15_up"
HistoNameDown: "btag_C_15_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_16"
Title: "btag_C_16"
Type: HISTO
HistoNameUp:   "btag_C_16_up"
HistoNameDown: "btag_C_16_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_17"
Title: "btag_C_17"
Type: HISTO
HistoNameUp:   "btag_C_17_up"
HistoNameDown: "btag_C_17_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_18"
Title: "btag_C_18"
Type: HISTO
HistoNameUp:   "btag_C_18_up"
HistoNameDown: "btag_C_18_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_19"
Title: "btag_C_19"
Type: HISTO
HistoNameUp:   "btag_C_19_up"
HistoNameDown: "btag_C_19_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_1"
Title: "btag_C_1"
Type: HISTO
HistoNameUp:   "btag_C_1_up"
HistoNameDown: "btag_C_1_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_2"
Title: "btag_C_2"
Type: HISTO
HistoNameUp:   "btag_C_2_up"
HistoNameDown: "btag_C_2_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_3"
Title: "btag_C_3"
Type: HISTO
HistoNameUp:   "btag_C_3_up"
HistoNameDown: "btag_C_3_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_4"
Title: "btag_C_4"
Type: HISTO
HistoNameUp:   "btag_C_4_up"
HistoNameDown: "btag_C_4_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_5"
Title: "btag_C_5"
Type: HISTO
HistoNameUp:   "btag_C_5_up"
HistoNameDown: "btag_C_5_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_6"
Title: "btag_C_6"
Type: HISTO
HistoNameUp:   "btag_C_6_up"
HistoNameDown: "btag_C_6_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_7"
Title: "btag_C_7"
Type: HISTO
HistoNameUp:   "btag_C_7_up"
HistoNameDown: "btag_C_7_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_8"
Title: "btag_C_8"
Type: HISTO
HistoNameUp:   "btag_C_8_up"
HistoNameDown: "btag_C_8_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_C_9"
Title: "btag_C_9"
Type: HISTO
HistoNameUp:   "btag_C_9_up"
HistoNameDown: "btag_C_9_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_0"
Title: "btag_Light_0"
Type: HISTO
HistoNameUp:   "btag_Light_0_up"
HistoNameDown: "btag_Light_0_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_10"
Title: "btag_Light_10"
Type: HISTO
HistoNameUp:   "btag_Light_10_up"
HistoNameDown: "btag_Light_10_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_11"
Title: "btag_Light_11"
Type: HISTO
HistoNameUp:   "btag_Light_11_up"
HistoNameDown: "btag_Light_11_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_12"
Title: "btag_Light_12"
Type: HISTO
HistoNameUp:   "btag_Light_12_up"
HistoNameDown: "btag_Light_12_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_13"
Title: "btag_Light_13"
Type: HISTO
HistoNameUp:   "btag_Light_13_up"
HistoNameDown: "btag_Light_13_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_14"
Title: "btag_Light_14"
Type: HISTO
HistoNameUp:   "btag_Light_14_up"
HistoNameDown: "btag_Light_14_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_15"
Title: "btag_Light_15"
Type: HISTO
HistoNameUp:   "btag_Light_15_up"
HistoNameDown: "btag_Light_15_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_16"
Title: "btag_Light_16"
Type: HISTO
HistoNameUp:   "btag_Light_16_up"
HistoNameDown: "btag_Light_16_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_17"
Title: "btag_Light_17"
Type: HISTO
HistoNameUp:   "btag_Light_17_up"
HistoNameDown: "btag_Light_17_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_18"
Title: "btag_Light_18"
Type: HISTO
HistoNameUp:   "btag_Light_18_up"
HistoNameDown: "btag_Light_18_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_19"
Title: "btag_Light_19"
Type: HISTO
HistoNameUp:   "btag_Light_19_up"
HistoNameDown: "btag_Light_19_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_1"
Title: "btag_Light_1"
Type: HISTO
HistoNameUp:   "btag_Light_1_up"
HistoNameDown: "btag_Light_1_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_2"
Title: "btag_Light_2"
Type: HISTO
HistoNameUp:   "btag_Light_2_up"
HistoNameDown: "btag_Light_2_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_3"
Title: "btag_Light_3"
Type: HISTO
HistoNameUp:   "btag_Light_3_up"
HistoNameDown: "btag_Light_3_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_4"
Title: "btag_Light_4"
Type: HISTO
HistoNameUp:   "btag_Light_4_up"
HistoNameDown: "btag_Light_4_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_5"
Title: "btag_Light_5"
Type: HISTO
HistoNameUp:   "btag_Light_5_up"
HistoNameDown: "btag_Light_5_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_6"
Title: "btag_Light_6"
Type: HISTO
HistoNameUp:   "btag_Light_6_up"
HistoNameDown: "btag_Light_6_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_7"
Title: "btag_Light_7"
Type: HISTO
HistoNameUp:   "btag_Light_7_up"
HistoNameDown: "btag_Light_7_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_8"
Title: "btag_Light_8"
Type: HISTO
HistoNameUp:   "btag_Light_8_up"
HistoNameDown: "btag_Light_8_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "btag_Light_9"
Title: "btag_Light_9"
Type: HISTO
HistoNameUp:   "btag_Light_9_up"
HistoNameDown: "btag_Light_9_down"
Samples: all
Regions: all
Category: btag
Smoothing: 40
Symmetrisation: TWOSIDED
