
Systematic: "btag_B_0"
Title: "btag_B_0"
Type: HISTO
HistoNameUp:   "btag_B_0_up"
HistoNameDown: "btag_B_0_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_0"
Title: "btag_B_0"
Type: HISTO
HistoNameUp:   "btag_B_0_up"
HistoNameDown: "btag_B_0_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_0"
Title: "btag_B_0"
Type: HISTO
HistoNameUp:   "btag_B_0_up"
HistoNameDown: "btag_B_0_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_1"
Title: "btag_B_1"
Type: HISTO
HistoNameUp:   "btag_B_1_up"
HistoNameDown: "btag_B_1_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_2"
Title: "btag_B_2"
Type: HISTO
HistoNameUp:   "btag_B_2_up"
HistoNameDown: "btag_B_2_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_3"
Title: "btag_B_3"
Type: HISTO
HistoNameUp:   "btag_B_3_up"
HistoNameDown: "btag_B_3_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_4"
Title: "btag_B_4"
Type: HISTO
HistoNameUp:   "btag_B_4_up"
HistoNameDown: "btag_B_4_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_5"
Title: "btag_B_5"
Type: HISTO
HistoNameUp:   "btag_B_5_up"
HistoNameDown: "btag_B_5_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_6"
Title: "btag_B_6"
Type: HISTO
HistoNameUp:   "btag_B_6_up"
HistoNameDown: "btag_B_6_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_7"
Title: "btag_B_7"
Type: HISTO
HistoNameUp:   "btag_B_7_up"
HistoNameDown: "btag_B_7_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_B_8"
Title: "btag_B_8"
Type: HISTO
HistoNameUp:   "btag_B_8_up"
HistoNameDown: "btag_B_8_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_C_0"
Title: "btag_C_0"
Type: HISTO
HistoNameUp:   "btag_C_0_up"
HistoNameDown: "btag_C_0_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_C_1"
Title: "btag_C_1"
Type: HISTO
HistoNameUp:   "btag_C_1_up"
HistoNameDown: "btag_C_1_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_C_2"
Title: "btag_C_2"
Type: HISTO
HistoNameUp:   "btag_C_2_up"
HistoNameDown: "btag_C_2_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_C_3"
Title: "btag_C_3"
Type: HISTO
HistoNameUp:   "btag_C_3_up"
HistoNameDown: "btag_C_3_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_Light_0"
Title: "btag_Light_0"
Type: HISTO
HistoNameUp:   "btag_Light_0_up"
HistoNameDown: "btag_Light_0_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_Light_1"
Title: "btag_Light_1"
Type: HISTO
HistoNameUp:   "btag_Light_1_up"
HistoNameDown: "btag_Light_1_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_Light_2"
Title: "btag_Light_2"
Type: HISTO
HistoNameUp:   "btag_Light_2_up"
HistoNameDown: "btag_Light_2_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_Light_3"
Title: "btag_Light_3"
Type: HISTO
HistoNameUp:   "btag_Light_3_up"
HistoNameDown: "btag_Light_3_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_Light_4"
Title: "btag_Light_4"
Type: HISTO
HistoNameUp:   "btag_Light_4_up"
HistoNameDown: "btag_Light_4_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_extrapolation"
Title: "btag_extrapolation"
Type: HISTO
HistoNameUp:   "btag_extrapolation_up"
HistoNameDown: "btag_extrapolation_down"
Samples: all
Regions: all
Category: btag

Systematic: "btag_extrapolation_from_charm"
Title: "btag_extrapolation_from_charm"
Type: HISTO
HistoNameUp:   "btag_extrapolation_from_charm_up"
HistoNameDown: "btag_extrapolation_from_charm_down"
Samples: all
Regions: all
Category: btag
