Systematic: "PRW"
Title: "PRW"
Type: HISTO
HistoNameUp:   "PRW_up"
HistoNameDown: "PRW_down"
Samples: all
Regions: all
Category: Instrument
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "jvt"
Title: "jvt"
Type: HISTO
HistoNameUp:   "jvt_up"
HistoNameDown: "jvt_down"
Samples: all
Regions: all
Category: JVT
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "tauRecon_TOTAL"
Title: "tauRecon_TOTAL"
Type: HISTO
HistoNameUp:   "tauRecon_TOTAL_up"
HistoNameDown: "tauRecon_TOTAL_down"
Samples: all
Regions: all
Category: tauRecon
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "tauEveto_TOTAL"
Title: "tauEveto_TOTAL"
Type: HISTO
HistoNameUp:   "tauEveto_TOTAL_up"
HistoNameDown: "tauEveto_TOTAL_down"
Samples: all
Regions: all
Category: tauEveto
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_1P2025"
Title: "MEDIUM_tauID_1P2025"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1P2025_up"
HistoNameDown: "MEDIUM_tauID_1P2025_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_1P2530"
Title: "MEDIUM_tauID_1P2530"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1P2530_up"
HistoNameDown: "MEDIUM_tauID_1P2530_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_1P3040"
Title: "MEDIUM_tauID_1P3040"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1P3040_up"
HistoNameDown: "MEDIUM_tauID_1P3040_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_1PGE40"
Title: "MEDIUM_tauID_1PGE40"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1PGE40_up"
HistoNameDown: "MEDIUM_tauID_1PGE40_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_3P2025"
Title: "MEDIUM_tauID_3P2025"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3P2025_up"
HistoNameDown: "MEDIUM_tauID_3P2025_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_3P2530"
Title: "MEDIUM_tauID_3P2530"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3P2530_up"
HistoNameDown: "MEDIUM_tauID_3P2530_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_3P3040"
Title: "MEDIUM_tauID_3P3040"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3P3040_up"
HistoNameDown: "MEDIUM_tauID_3P3040_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_3PGE40"
Title: "MEDIUM_tauID_3PGE40"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3PGE40_up"
HistoNameDown: "MEDIUM_tauID_3PGE40_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_HIGHPT"
Title: "MEDIUM_tauID_HIGHPT"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_HIGHPT_up"
HistoNameDown: "MEDIUM_tauID_HIGHPT_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MEDIUM_tauID_SYST"
Title: "MEDIUM_tauID_SYST"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_SYST_up"
HistoNameDown: "MEDIUM_tauID_SYST_down"
Samples: all
Regions: all
Category: tauID
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "TES_INSITUFIT"
Title: "TES_INSITUFIT"
Type: HISTO
HistoNameUp: "TES_INSITUFIT_1up"
HistoNameDown: "TES_INSITUFIT_1down"
Samples: all
Regions: all
Category: TES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "TES_DETECTOR"
Title: "TES_DETECTOR"
Type: HISTO
HistoNameUp: "TES_DETECTOR_1up"
HistoNameDown: "TES_DETECTOR_1down"
Samples: all
Regions: all
Category: TES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "TES_MODEL_CLOSURE"
Title: "TES_MODEL_CLOSURE"
Type: HISTO
HistoNameUp: "TES_MODEL_CLOSURE_1up"
HistoNameDown: "TES_MODEL_CLOSURE_1down"
Samples: all
Regions: all
Category: TES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "TES_INSITUEXP"
Title: "TES_INSITUEXP"
Type: HISTO
HistoNameUp: "TES_INSITUEXP_1up"
HistoNameDown: "TES_INSITUEXP_1down"
Samples: all
Regions: all
Category: TES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "TES_PHYSICSLIST"
Title: "TES_PHYSICSLIST"
Type: HISTO
HistoNameUp: "TES_PHYSICSLIST_1up"
HistoNameDown: "TES_PHYSICSLIST_1down"
Samples: all
Regions: all
Category: TES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Detector1"
Title: "JES_Detector1"
Type: HISTO
HistoNameUp: "JES_Detector1_1up"
HistoNameDown: "JES_Detector1_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Detector2"
Title: "JES_Detector2"
Type: HISTO
HistoNameUp: "JES_Detector2_1up"
HistoNameDown: "JES_Detector2_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Mixed1"
Title: "JES_Mixed1"
Type: HISTO
HistoNameUp: "JES_Mixed1_1up"
HistoNameDown: "JES_Mixed1_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Mixed2"
Title: "JES_Mixed2"
Type: HISTO
HistoNameUp: "JES_Mixed2_1up"
HistoNameDown: "JES_Mixed2_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Mixed3"
Title: "JES_Mixed3"
Type: HISTO
HistoNameUp: "JES_Mixed3_1up"
HistoNameDown: "JES_Mixed3_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Modelling1"
Title: "JES_Modelling1"
Type: HISTO
HistoNameUp: "JES_Modelling1_1up"
HistoNameDown: "JES_Modelling1_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Modelling2"
Title: "JES_Modelling2"
Type: HISTO
HistoNameUp: "JES_Modelling2_1up"
HistoNameDown: "JES_Modelling2_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Modelling3"
Title: "JES_Modelling3"
Type: HISTO
HistoNameUp: "JES_Modelling3_1up"
HistoNameDown: "JES_Modelling3_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Modelling4"
Title: "JES_Modelling4"
Type: HISTO
HistoNameUp: "JES_Modelling4_1up"
HistoNameDown: "JES_Modelling4_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Statistical1"
Title: "JES_Statistical1"
Type: HISTO
HistoNameUp: "JES_Statistical1_1up"
HistoNameDown: "JES_Statistical1_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Statistical2"
Title: "JES_Statistical2"
Type: HISTO
HistoNameUp: "JES_Statistical2_1up"
HistoNameDown: "JES_Statistical2_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Statistical3"
Title: "JES_Statistical3"
Type: HISTO
HistoNameUp: "JES_Statistical3_1up"
HistoNameDown: "JES_Statistical3_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Statistical4"
Title: "JES_Statistical4"
Type: HISTO
HistoNameUp: "JES_Statistical4_1up"
HistoNameDown: "JES_Statistical4_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Statistical5"
Title: "JES_Statistical5"
Type: HISTO
HistoNameUp: "JES_Statistical5_1up"
HistoNameDown: "JES_Statistical5_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JES_Statistical6"
Title: "JES_Statistical6"
Type: HISTO
HistoNameUp: "JES_Statistical6_1up"
HistoNameDown: "JES_Statistical6_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JER_1"
Title: "JER_1"
Type: HISTO
HistoNameUp: "JER_1_1up"
HistoNameDown: "JER_1_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JER_2"
Title: "JER_2"
Type: HISTO
HistoNameUp: "JER_2_1up"
HistoNameDown: "JER_2_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JER_3"
Title: "JER_3"
Type: HISTO
HistoNameUp: "JER_3_1up"
HistoNameDown: "JER_3_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JER_4"
Title: "JER_4"
Type: HISTO
HistoNameUp: "JER_4_1up"
HistoNameDown: "JER_4_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JER_5"
Title: "JER_5"
Type: HISTO
HistoNameUp: "JER_5_1up"
HistoNameDown: "JER_5_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JER_6"
Title: "JER_6"
Type: HISTO
HistoNameUp: "JER_6_1up"
HistoNameDown: "JER_6_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JER_7restTerm"
Title: "JER_7restTerm"
Type: HISTO
HistoNameUp: "JER_7restTerm_1up"
HistoNameDown: "JER_7restTerm_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_JER_DataVsMC_MC16"
Title: "JET_JER_DataVsMC_MC16"
Type: HISTO
HistoNameUp: "JET_JER_DataVsMC_MC16_1up"
HistoNameDown: "JET_JER_DataVsMC_MC16_1down"
Samples: all
Regions: all
Category: JER
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_BJES_Response"
Title: "JET_BJES_Response"
Type: HISTO
HistoNameUp: "JET_BJES_Response_1up"
HistoNameDown: "JET_BJES_Response_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_Flavor_Composition"
Title: "JET_Flavor_Composition"
Type: HISTO
HistoNameUp: "JET_Flavor_Composition_1up"
HistoNameDown: "JET_Flavor_Composition_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_Flavor_Response"
Title: "JET_Flavor_Response"
Type: HISTO
HistoNameUp: "JET_Flavor_Response_1up"
HistoNameDown: "JET_Flavor_Response_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_Pileup_RhoTopology"
Title: "JET_Pileup_RhoTopology"
Type: HISTO
HistoNameUp: "JET_Pileup_RhoTopology_1up"
HistoNameDown: "JET_Pileup_RhoTopology_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_Pileup_OffsetMu"
Title: "JET_Pileup_OffsetMu"
Type: HISTO
HistoNameUp: "JET_Pileup_OffsetMu_1up"
HistoNameDown: "JET_Pileup_OffsetMu_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_Pileup_OffsetNPV"
Title: "JET_Pileup_OffsetNPV"
Type: HISTO
HistoNameUp: "JET_Pileup_OffsetNPV_1up"
HistoNameDown: "JET_Pileup_OffsetNPV_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_Pileup_PtTerm"
Title: "JET_Pileup_PtTerm"
Type: HISTO
HistoNameUp: "JET_Pileup_PtTerm_1up"
HistoNameDown: "JET_Pileup_PtTerm_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_EtaInt_TotalStat"
Title: "JET_EtaInt_TotalStat"
Type: HISTO
HistoNameUp: "JET_EtaInt_TotalStat_1up"
HistoNameDown: "JET_EtaInt_TotalStat_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_EtaInt_NonClosure_2018data"
Title: "JET_EtaInt_NonClosure_2018data"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_2018data_1up"
HistoNameDown: "JET_EtaInt_NonClosure_2018data_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_EtaInt_NonClosure_negEta"
Title: "JET_EtaInt_NonClosure_negEta"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_negEta_1up"
HistoNameDown: "JET_EtaInt_NonClosure_negEta_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_EtaInt_Modelling"
Title: "JET_EtaInt_Modelling"
Type: HISTO
HistoNameUp: "JET_EtaInt_Modelling_1up"
HistoNameDown: "JET_EtaInt_Modelling_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_EtaInt_NonClosure_highE"
Title: "JET_EtaInt_NonClosure_highE"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_highE_1up"
HistoNameDown: "JET_EtaInt_NonClosure_highE_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_EtaInt_NonClosure_posEta"
Title: "JET_EtaInt_NonClosure_posEta"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_posEta_1up"
HistoNameDown: "JET_EtaInt_NonClosure_posEta_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_PunchThrough_MC16"
Title: "JET_PunchThrough_MC16"
Type: HISTO
HistoNameUp: "JET_PunchThrough_MC16_1up"
HistoNameDown: "JET_PunchThrough_MC16_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_SingleParticle_HighPt"
Title: "JET_SingleParticle_HighPt"
Type: HISTO
HistoNameUp: "JET_SingleParticle_HighPt_1up"
HistoNameDown: "JET_SingleParticle_HighPt_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "JET_TILECORR_Uncertainty"
Title: "JET_TILECORR_Uncertainty"
Type: HISTO
HistoNameUp: "JET_TILECORR_Uncertainty_1up"
HistoNameDown: "JET_TILECORR_Uncertainty_1down"
Samples: all
Regions: all
Category: JES
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "MET_SoftTrk_ResoPara"
Title: "MET_SoftTrk_ResoPara"
Type: HISTO
HistoNameUp: "MET_SoftTrk_ResoPara"
Samples: all
Regions: all
Category: MET
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "MET_SoftTrk_ResoPerp"
Title: "MET_SoftTrk_ResoPerp"
Type: HISTO
HistoNameUp: "MET_SoftTrk_ResoPerp"
Samples: all
Regions: all
Category: MET
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "MET_SoftTrk_Scale"
Title: "MET_SoftTrk_Scale"
Type: HISTO
HistoNameUp: "MET_SoftTrk_Scale_1up"
Samples: all
Regions: all
Category: MET
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PDF"
Title: "PDF"
Type: HISTO
HistoNameUp: "PDF_up"
HistoNameDown: "PDF_down"
Samples: all
Regions: all
Category: Theory
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "scale"
Title: "scale"
Type: HISTO
HistoNameUp: "scale_up"
HistoNameDown: "scale_down"
Samples: all
Regions: all
Category: Theory
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "ISR"
Title: "ISR"
Type: HISTO
HistoNameUp: "ISR_up"
HistoNameDown: "ISR_down"
Samples: all
Regions: all
Category: Theory
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "FSR"
Title: "FSR"
Type: HISTO
HistoNameUp: "FSR_up"
HistoNameDown: "FSR_down"
Samples: all
Regions: all
Category: Theory
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "ALPHAS"
Title: "#alpha_{s}"
Type: HISTO
HistoNameUp: "alphaS_up"
HistoNameDown: "alphaS_down"
Samples: all
Regions: all
Category: Theory
Smoothing: 40
Symmetrisation: TWOSIDED

Systematic: "HttBR"
Title: "HttBR"
Type: OVERALL
OverallUp: 0.016
OverallDown: -0.016
Samples: tuH,tcH,fcnc_ch,fcnc_uh,fcnc_prod_ch,fcnc_prod_uh
Regions: all
Category: Theory
Smoothing: 40


