Systematic: "PS_tltautau"
Title: "#bar{t}t PS t_{l}#tau_{had}#tau_{had}"
Type: HISTO
HistoNameUp: "PS"
Samples: ttbar,b_fake,doublefake,w_jet_fake,other_fake,lep-fake
Regions: reg1l2tau1bnj_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad2j_Other_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 2j Other Fake"
Type: HISTO
HistoNameUp: "PS"
Samples: other_fake
Regions: reg1l1tau1b2j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad2j_b_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 2j b Fake"
Type: HISTO
HistoNameUp: "PS"
Samples: b_fake
Regions: reg1l1tau1b2j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad2j_w_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 2j #tau_{W}"
Type: HISTO
HistoNameUp: "PS"
Samples: w_jet_fake
Regions: reg1l1tau1b2j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad2j_lep_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 2j lepton Fake"
Type: HISTO
HistoNameUp: "PS"
Samples: lep-fake
Regions: reg1l1tau1b2j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad1j_Other_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 1j Other Fake"
Type: HISTO
HistoNameUp: "PS"
Samples: other_fake
Regions: reg1l1tau1b1j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad1j_b_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 1j b Fake"
Type: HISTO
HistoNameUp: "PS"
Samples: b_fake
Regions: reg1l1tau1b1j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad1j_w_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 1j #tau_{W}"
Type: HISTO
HistoNameUp: "PS"
Samples: w_jet_fake
Regions: reg1l1tau1b1j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad1j_lep_Fake"
Title: "#bar{t}t PS t_{l}#tau_{had} 1j lepton Fake"
Type: HISTO
HistoNameUp: "PS"
Samples: lep-fake
Regions: reg1l1tau1b1j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad2j_ttbar"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 2j #bar{t}t"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: ttbar
Regions: reg1l1tau1b2j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad2j_b_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 2j b Fake"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: b_fake
Regions: reg1l1tau1b2j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad2j_w_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 2j #tau_{W}"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: w_jet_fake
Regions: reg1l1tau1b2j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad2j_other_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 2j Other Fake"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: other_fake
Regions: reg1l1tau1b2j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad2j_lep_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 2j lepton Fake"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: lep-fake
Regions: reg1l1tau1b2j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad3j_ttbar"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 3j #bar{t}t"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: ttbar
Regions: reg1l1tau1b3j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad3j_b_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 3j b Fake"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: b_fake
Regions: reg1l1tau1b3j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad3j_w_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 3j #tau_{W}"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: w_jet_fake
Regions: reg1l1tau1b3j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad3j_other_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 3j Other Fake"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: other_fake
Regions: reg1l1tau1b3j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad3j_lep_fake"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 3j lepton Fake"
Type: HISTO
HistoNameUp: "PS"
%Samples: ttbar,b_fake,w_jet_fake,other_fake,lep-fake
Samples: lep-fake
Regions: reg1l1tau1b3j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED
