Systematic: "PS_tltautau"
Title: "#bar{t}t PS t_{l}#tau_{had}#tau_{had}"
Type: HISTO
HistoNameUp: "PS"
Samples: ttbar,b_fake,doublefake,w_jet_fake,other_fake,lep-fake
Regions: reg1l2tau1bnj_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_tlhad2j"
Title: "#bar{t}t PS t_{l}#tau_{had} 2j"
Type: HISTO
HistoNameUp: "PS"
Samples: ttbar,b_fake,doublefake,w_jet_fake,other_fake,lep-fake
Regions: reg1l1tau1b2j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED


Systematic: "PS_tlhad1j"
Title: "#bar{t}t PS t_{l}#tau_{had} 1j"
Type: HISTO
HistoNameUp: "PS"
Samples: ttbar,b_fake,doublefake,w_jet_fake,other_fake,lep-fake
Regions: reg1l1tau1b1j_ss
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED


Systematic: "PS_thlephad2j"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 2j"
Type: HISTO
HistoNameUp: "PS"
Samples: ttbar,b_fake,doublefake,w_jet_fake,other_fake,lep-fake
Regions: reg1l1tau1b2j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED

Systematic: "PS_thlephad3j"
Title: "#bar{t}t PS t_{h}#tau_{lep}#tau_{had} 3j"
Type: HISTO
HistoNameUp: "PS"
Samples: ttbar,b_fake,doublefake,w_jet_fake,other_fake,lep-fake
Regions: reg1l1tau1b3j_os
Category: Theory
Smoothing: 40
Symmetrisation: ONESIDED
