MultiFit: "tuH"
  Label: "FCNC"
  Combine: TRUE
  Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "140 pb^{-1}"
  ComparePOI: FALSE
  ComparePulls: FALSE
  CompareLimits: TRUE
  POIName: "SigXsecOverSM"
  POIRange: -10:30
  DataName: "asimovData"
  CombineChByCh: TRUE
  LimitTitle: 95CL limit on tuH

Fit: "hadronic"
  ConfigFile: tuH_xTFW_config/combined/BDTG_test.config
  Label: "Hadronic"

Fit: "leptonic"
  ConfigFile: tuH_tthML_config/combined/BDTG_test.config
  Label: "Leptonic"

Limit: string
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
  SignalInjection: FALSE
  SignalInjectionValue: 1
  ParamName: mu
  ParamValue: 1
  ConfidenceLevel: 0.95

