
%%%%%%%%%%%%%%%%%%%%%%%%%%
% Instrument systematics
%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic:"El_ChargeMisID_STAT"
Title:"El_ChargeMisID_STAT"
Type:HISTO
HistoNameUp:El_ChargeMisID_STAT_up
HistoNameDown:El_ChargeMisID_STAT_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"El_ChargeMisID_SYST"
Title:"El_ChargeMisID_SYST"
Type:HISTO
HistoNameUp:El_ChargeMisID_SYST_up
HistoNameDown:El_ChargeMisID_SYST_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"El_Reco"
Title:"El_Reco"
Type:HISTO
HistoNameUp:El_Reco_up
HistoNameDown:El_Reco_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"El_ID_TightLH"
Title:"El_ID_TightLH"
Type:HISTO
HistoNameUp:El_ID_TightLH_up
HistoNameDown:El_ID_TightLH_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"El_Iso_FCLoose"
Title:"El_Iso_FCLoose"
Type:HISTO
HistoNameUp:El_Iso_FCLoose_up
HistoNameDown:El_Iso_FCLoose_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_TTVA_STAT"
Title:"Mu_TTVA_STAT"
Type:HISTO
HistoNameUp:Mu_TTVA_STAT_up
HistoNameDown:Mu_TTVA_STAT_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_TTVA_SYST"
Title:"Mu_TTVA_SYST"
Type:HISTO
HistoNameUp:Mu_TTVA_SYST_up
HistoNameDown:Mu_TTVA_SYST_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_ID_STAT"
Title:"Mu_ID_STAT"
Type:HISTO
HistoNameUp:Mu_ID_STAT_up
HistoNameDown:Mu_ID_STAT_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_ID_SYST"
Title:"Mu_ID_SYST"
Type:HISTO
HistoNameUp:Mu_ID_SYST_up
HistoNameDown:Mu_ID_SYST_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_ID_STAT_LOWPT"
Title:"Mu_ID_STAT_LOWPT"
Type:HISTO
HistoNameUp:Mu_ID_STAT_LOWPT_up
HistoNameDown:Mu_ID_STAT_LOWPT_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_ID_SYST_LOWPT"
Title:"Mu_ID_SYST_LOWPT"
Type:HISTO
HistoNameUp:Mu_ID_SYST_LOWPT_up
HistoNameDown:Mu_ID_SYST_LOWPT_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_Iso_SYST"
Title:"Mu_Iso_SYST"
Type:HISTO
HistoNameUp:Mu_Iso_SYST_up
HistoNameDown:Mu_Iso_SYST_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"Mu_Iso_STAT"
Title:"Mu_Iso_STAT"
Type:HISTO
HistoNameUp:Mu_Iso_STAT_up
HistoNameDown:Mu_Iso_STAT_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"eTrigger"
Title:"eTrigger"
Type:HISTO
HistoNameUp:eTrigger_up
HistoNameDown:eTrigger_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"muTrigger_Stat"
Title:"muTrigger_Stat"
Type:HISTO
HistoNameUp:muTrigger_Stat_up
HistoNameDown:muTrigger_Stat_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"muTrigger_Syst"
Title:"muTrigger_Syst"
Type:HISTO
HistoNameUp:muTrigger_Syst_up
HistoNameDown:muTrigger_Syst_down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"MUON_ID"
Title:"MUON_ID"
Type:HISTO
HistoNameUp:MUON_ID_1up
HistoNameDown:MUON_ID_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"MUON_MS"
Title:"MUON_MS"
Type:HISTO
HistoNameUp:MUON_MS_1up
HistoNameDown:MUON_MS_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"MUON_SAGITTA_RESBIAS"
Title:"MUON_SAGITTA_RESBIAS"
Type:HISTO
HistoNameUp:MUON_SAGITTA_RESBIAS_1up
HistoNameDown:MUON_SAGITTA_RESBIAS_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"MUON_SAGITTA_RHO"
Title:"MUON_SAGITTA_RHO"
Type:HISTO
HistoNameUp:MUON_SAGITTA_RHO_1up
HistoNameDown:MUON_SAGITTA_RHO_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"MUON_SCALE"
Title:"MUON_SCALE"
Type:HISTO
HistoNameUp:MUON_SCALE_1up
HistoNameDown:MUON_SCALE_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"EG_RESOLUTION_ALL"
Title:"EG_RESOLUTION_ALL"
Type:HISTO
HistoNameUp:EG_RESOLUTION_ALL_1up
HistoNameDown:EG_RESOLUTION_ALL_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"EG_SCALE_AF2"
Title:"EG_SCALE_AF2"
Type:HISTO
HistoNameUp:EG_SCALE_AF2_1up
HistoNameDown:EG_SCALE_AF2_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40

Systematic:"EG_SCALE_ALL"
Title:"EG_SCALE_ALL"
Type:HISTO
HistoNameUp:EG_SCALE_ALL_1up
HistoNameDown:EG_SCALE_ALL_1down
Samples: all
Regions: all
Category: Instrument
Smoothing: 40


